# Tutorial A1 - List Tupple Set Dictionaries
## 1. Introduction
##### Python is general purpose interpreted, interactive, object-oriented and high level prgramming language.
Created by - Guido van Rossum (during 1985-90)
## 2. Python Data Structures
### 2.1 DATATYPES
##### Datatype here is property of object (everything in py is object) and not of the variable. They are not declared, just assigned
1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
### 2.2 Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
type(True)

bool

In [19]:
my_string='Sabyasachi Sahu'
my_string.istitle()

True

In [20]:
print(my_string.isalnum()) #check if all char are numbers
print(my_string.isalpha()) #check if all char in the string are alphabetic
print(my_string.isdigit()) #test if string contains digits
print(my_string.istitle()) #test if string contains title words
print(my_string.isupper()) #test if string contains upper case
print(my_string.islower()) #test if string contains lower case
print(my_string.isspace()) #test if string contains spaces
print(my_string.endswith(('a','e','i','o','u'))) #test if string endswith a i
print(my_string.startswith('sab')) #test if string startswith S

False
False
False
True
False
False
False
True
False

In [26]:
True & True
True or True

True

#### Casting

In [22]:
#CASTING
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [41]:
z = str(3.0)
z

'3.0'

#### Operator

In [23]:
#OPERATOR
5<<3 # 5*2^3
3<<5 # 3*2^5
100>>2 # 100/2^2 = 25
3>>5
5>2 # True
1==1#T
1++2
1<<3
2<<1
2<<2    
2<<3
5%2#Modulus = 1 (Remainder)
5//2#Floor division = 2
5**2#Exponentiation = 5*5=25

'2'

In [57]:
23//5

4

## 3 Lists
- A list is a data structure in Python that is a 
    - mutable, 
    - or changeable, 
    - ordered sequence of elements. 
- Each element or value that is inside of a list is called an item. 
- Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [42]:
type([])

list

In [43]:
list_example=[]
type(list_example)

list

In [44]:
lst=list()
type(lst)

list

In [50]:
#Practice List
lst=[99,'bottles of beer',['on','the','wall']]
lst

[99, 'bottles of beer', ['on', 'the', 'wall']]

In [51]:
##Indexing in List
lst[2]# Indexing start from 0

['on', 'the', 'wall']

In [53]:
lst[-1]#-1 = last item in list

['on', 'the', 'wall']

In [54]:
lst[:2]#indexing 0 and 1 position item, doesnot include 2

[99, 'bottles of beer']

In [58]:
lst[2][2]#Nested list

'wall'

In [61]:
len(lst)

3

In [62]:
len(lst[2])

3

#### append( )

In [64]:
#.append is used to add elements in the list
lst.append(["beside",'park'])
lst

[99, 'bottles of beer', ['on', 'the', 'wall'], ['beside', 'park']]

In [65]:
lst.append('near school')
lst

[99,
 'bottles of beer',
 ['on', 'the', 'wall'],
 ['beside', 'park'],
 'near school']

In [66]:
lst[2].append('top')
lst

[99,
 'bottles of beer',
 ['on', 'the', 'wall', 'top'],
 ['beside', 'park'],
 'near school']

#### Insert ( )

In [68]:
## insert in a specific order
lst[2].insert(2,['bright','yellow'])
lst

[99,
 'bottles of beer',
 ['on', 'the', ['bright', 'yellow'], 'wall', 'top'],
 ['beside', 'park'],
 'near school']

In [70]:
lst.insert(1,'empty')
lst

[99,
 'empty',
 'bottles of beer',
 ['on', 'the', ['bright', 'yellow'], 'wall', 'top'],
 ['beside', 'park'],
 'near school']

In [71]:
#index out 'yellow'
lst[3][2][1]

'yellow'

#### del( ) - by index not value

In [72]:
#delete 'top'
del(lst[3][4])
lst

[99,
 'empty',
 'bottles of beer',
 ['on', 'the', ['bright', 'yellow'], 'wall'],
 ['beside', 'park'],
 'near school']

In [73]:
lst[3].insert(2,'top');lst

[99,
 'empty',
 'bottles of beer',
 ['on', 'the', 'top', ['bright', 'yellow'], 'wall'],
 ['beside', 'park'],
 'near school']

In [75]:
lst[3][3].insert(0,'of the');lst

[99,
 'empty',
 'bottles of beer',
 ['on', 'the', 'top', ['of the', 'bright', 'yellow'], 'wall'],
 ['beside', 'park'],
 'near school']

#### Clear ()

In [76]:
#Remove Entire data from list
lst.clear();lst

[]

In [78]:
lst=[1,2,3,4,5,6];lst

[1, 2, 3, 4, 5, 6]

#### extend( )

In [79]:
lst.extend([9,10]);lst

[1, 2, 3, 4, 5, 6, 9, 10]

In [82]:
lst.insert(6,[7,8]);lst

[1, 2, 3, 4, 5, 6, [7, 8], 9, 10]

##### pop() - delete the index and return the deleted

In [83]:
lst.pop(6)

[7, 8]

In [84]:
lst.insert(6,7);lst#here 6 is the index where 7  is value

[1, 2, 3, 4, 5, 6, 7, 9, 10]

#### remove() - by value not index

In [86]:
lst.remove(1);lst#here 1 is value not index

[2, 3, 4, 5, 6, 7, 9, 10]

In [87]:
lst.remove(9);lst

[2, 3, 4, 5, 6, 7, 10]

#### reverese()

In [91]:
lst.reverse();lst

[10, 7, 6, 5, 4, 3, 2]

In [92]:
lst.insert(3,17);lst

[10, 7, 6, 17, 5, 4, 3, 2]

In [93]:
lst.reverse();lst

[2, 3, 4, 5, 17, 6, 7, 10]

#### sort()

In [94]:
lst.sort();lst

[2, 3, 4, 5, 6, 7, 10, 17]

In [96]:
lst.reverse();lst #sorting in descending order

[17, 10, 7, 6, 5, 4, 3, 2]

#### index()

In [97]:
lst.index(10)

1

#### count():Calculates total occurrence of given element of List

In [98]:
lst.count(7)

1

In [100]:
lst.extend(lst);lst

[17, 10, 7, 6, 5, 4, 3, 2, 17, 10, 7, 6, 5, 4, 3, 2]

In [101]:
lst.extend([7,17,7]);lst

[17, 10, 7, 6, 5, 4, 3, 2, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7]

In [102]:
lst.count(7)

4

#### Removing value

In [103]:

lst[2]=[]#remove value but preserve the order
print(lst)

[17, 10, [], 6, 5, 4, 3, 2, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7]

In [104]:
del(lst[3]);lst

[17, 10, [], 5, 4, 3, 2, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7]

In [106]:
lst.remove(5);lst

[17, 10, [], 4, 3, 2, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7]

In [107]:
lst.pop(5)

2

In [108]:
lst.insert(2,22);lst

[17, 10, 22, [], 4, 3, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7]

In [109]:
lst[3].insert(0,100);lst

[17, 10, 22, [100], 4, 3, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7]

In [110]:
lst[3].insert(5,100);lst

[17, 10, 22, [100, 100], 4, 3, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7]

In [111]:
lst[3].clear();lst

[17, 10, 22, [], 4, 3, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7]

In [113]:
lst.pop(3);lst

[17, 10, 22, 4, 3, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7]

#### aggregate function

In [115]:
lst+[99]

[17, 10, 22, 4, 3, 17, 10, 7, 6, 5, 4, 3, 2, 7, 17, 7, 99]

In [127]:
sum(lst[13:-1])

24

In [128]:
min(lst)

2

In [129]:
max(lst)

22

### 4. TUPPLE
    Like LIST Tupple are also iterable arrays of objects
    Immutable unlike list ie once created, unchageable
    To modify it must be redeclared
    e.g country name

In [131]:
## create an empty Tuples

my_tuple=tuple() #'()' is used, instead of '[]'
my_tuple

()

In [132]:
my_tuple=();my_tuple

()

In [133]:
country=('India','Japan','US')

In [134]:
country

('India', 'Japan', 'US')

In [136]:
lst.append(country)

In [137]:
lst

[17,
 10,
 22,
 4,
 3,
 17,
 10,
 7,
 6,
 5,
 4,
 3,
 2,
 7,
 17,
 7,
 ('India', 'Japan', 'US')]

In [138]:
country*2

('India', 'Japan', 'US', 'India', 'Japan', 'US')

In [139]:
country.append('Korea')

AttributeError: 'tuple' object has no attribute 'append'

### 5. SETS
- A Set is an unordered collection data type that is 
    - iterable, 
    - mutable, 
    - and has no duplicate elements. 
- Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [140]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [143]:
set_var={1,2,3,4,3};set_var

{1, 2, 3, 4}

In [144]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IronMan'}

set

In [145]:
## Inbuilt function in sets

set_var.add("Hulk")

In [146]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [151]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [153]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [152]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [154]:
set2.intersection_update(set1); set2

{'Avengers', 'Hitman', 'IronMan'}

### 6. Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.
- they are set of 'key' and 'value' pairs
- Allow us to identify by names instead of list index
- keys are unique

In [155]:
dic={};type(dic)

dict

In [158]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"};my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [157]:
type(my_dict)

dict

In [159]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [160]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [161]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [162]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [163]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [164]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [165]:
#Change value by adrressing key
my_dict['Car1']='Maruti';my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [166]:
my_dict.keys()

dict_keys(['Car1', 'Car2', 'Car3', 'car4'])

In [168]:
my_dict.values()

dict_values(['Maruti', 'BMW', 'Mercidies Benz', 'Audi 2.0'])

In [169]:
my_dict.items()

dict_items([('Car1', 'Maruti'), ('Car2', 'BMW'), ('Car3', 'Mercidies Benz'), ('car4', 'Audi 2.0')])

In [175]:
#Accessing dictionaries from key
my_dict['Car3']

'Mercidies Benz'

In [176]:
#deleting dictionaries from key
del(my_dict['Car3']);my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'car4': 'Audi 2.0'}

#### Nested Dictionaries

In [177]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [178]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [179]:
print(car_type['car1']['Mercedes'])

1960