## Datatypes Assignment (NikAn)

In [1]:
# 1. Store “Python” in x variable “is” in y variable and “best” in z variable. And print the following output:
x="Python"
y="is"
z="best"

In [2]:
# a. Pythonisbest
x+y+z

'Pythonisbest'

In [3]:
# b. Python is best
x+' '+y+' '+ z

'Python is best'

In [4]:
#or
print(x,y,z)

Python is best

In [5]:
# c. PythonPythonPythonPythonPython
x*5

'PythonPythonPythonPythonPython'

In [6]:
# d. on
x[-2:]

'on'

In [7]:
# e. length of x
len(x)

6

In [8]:
#2. Compare “moon” and “moot”.
'moon'=='moot'

False

In [9]:
#3. Search “o” in the word “Python”.
print("Position of 'o' in Python is:",x.index("o")+1)

Position of 'o' in Python is: 5

In [10]:
# 4. Create a list my_list with the following values 25, 67, 34, 679, 57, 98, 14. And perform the following operations:
my_list=[25, 67, 34, 679, 57, 98, 14]
print(my_list)

[25, 67, 34, 679, 57, 98, 14]

In [11]:
# a. Reverse my_list
my_list[::-1]

[14, 98, 57, 679, 34, 67, 25]

In [12]:
my_list.reverse()

In [13]:
my_list

[14, 98, 57, 679, 34, 67, 25]

In [14]:
# b. Sort my_list
my_list.sort()

In [15]:
my_list

[14, 25, 34, 57, 67, 98, 679]

In [16]:
# c. Insert 789 in 1st position.
my_list.insert(0,789)
my_list

[789, 14, 25, 34, 57, 67, 98, 679]

In [17]:
# 5. Create a tuple my_tuple with the following data: Delhi, Bangalore, Chennai, Pune. And perform the following operations:
tup=("Delhi",'Bangalore', 'Chennai', 'Pune')
print(tup)

('Delhi', 'Bangalore', 'Chennai', 'Pune')

In [19]:
# a. Get output as “C”
tup[2][0]

'C'

In [20]:
# b. Get output as “P”
tup[3][0]

'P'

In [21]:
# 6. Create a Dictionaries with the name my_dict and data:
# Ajay: 302
# Vijay: 506
# Dheeraj: 786
# Niraj: 931
# Kalyan: 791
my_dict={'Ajay': 302,'Vijay': 506,'Dheeraj': 786,'Niraj': 931,'Kalyan': 791}

In [22]:
my_dict

{'Ajay': 302, 'Vijay': 506, 'Dheeraj': 786, 'Niraj': 931, 'Kalyan': 791}

In [24]:
my_dict.keys()

dict_keys(['Ajay', 'Vijay', 'Dheeraj', 'Niraj', 'Kalyan'])

In [25]:
my_dict.values()

dict_values([302, 506, 786, 931, 791])

In [26]:
my_dict.items()

dict_items([('Ajay', 302), ('Vijay', 506), ('Dheeraj', 786), ('Niraj', 931), ('Kalyan', 791)])

In [27]:
# Perform the following operations:
# a. Look the value for Niraj.
my_dict['Niraj']

931

In [28]:
# b. Add a person Mukesh: 625
my_dict['Mukesh']=625
my_dict

{'Ajay': 302,
 'Vijay': 506,
 'Dheeraj': 786,
 'Niraj': 931,
 'Kalyan': 791,
 'Mukesh': 625}

In [29]:
# c. Delete the record of Vijay.
my_dict.pop('Vijay')

#or
#del my_dict["Vijay"]

506

In [30]:
my_dict

{'Ajay': 302, 'Dheeraj': 786, 'Niraj': 931, 'Kalyan': 791, 'Mukesh': 625}

In [32]:
# d. Replace the value of Dheeraj to 500.
my_dict["Dheeraj"]=500
my_dict

{'Ajay': 302, 'Dheeraj': 500, 'Niraj': 931, 'Kalyan': 791, 'Mukesh': 625}