## List assignment (NikAn)

In [1]:
# List Assignment
# 1. Create a list with the name Newlist that will contain the following values –
# Rakesh, 18.9, 23, Mahesh, 356, 26.8
Newlist=["Rakesh", 18.9, 23, "Mahesh", 356, 26.8]
Newlist

['Rakesh', 18.9, 23, 'Mahesh', 356, 26.8]

In [2]:
# 2. Create a nested list with the name PersonDetails and values –
# Mike, (1984, 2017), Jay, (1979, 2017)
PersonDetails=[["Mike",1984, 2017],["Jay",1979, 2017]]
PersonDetails

[['Mike', 1984, 2017], ['Jay', 1979, 2017]]

In [3]:
# 3. Access the following values of the corresponding lists –
# i. 3rd value of Newlist.
Newlist[2]

23

In [4]:
# ii. 4th value’s 2nd element of PersonDetails list.
PersonDetails[1][2]

2017

In [5]:
# iii. 2nd value from the last of Newlist
Newlist[-2]

356

In [8]:
# 4. Create a list my_list containing all the alphabets of ILOVEPYTHON as individual element. 
my_list='ILOVEPYTHON'

#And perform the following task:
# i. access the elements 3rd to 5th
my_list[2:5]

'OVE'

In [9]:
# ii. access the elements beginning to 4th
my_list[:4]

'ILOV'

In [10]:
# iii. access the elements 6th to end
my_list[5:]

'PYTHON'

In [11]:
# iv. access the elements beginning to end
my_list[:]

'ILOVEPYTHON'

In [12]:
# v. Repeat the list 4 times and save it with a name my_newlist and find the length of my_newlist
my_newlist=my_list*4
my_newlist

'ILOVEPYTHONILOVEPYTHONILOVEPYTHONILOVEPYTHON'

In [14]:
# vi. Find the position of “P” in my_list.
my_list.index("P")

5

In [15]:
# 5. Create a list evenno containing the values (2,4,7,8,10) and
# oddno containing the value (1,2,4,6,9) and perform the following task:

evenno=[2,4,7,8,10]
oddno=[1,2,4,6,9]

In [16]:
# i. change the 3rd item of evenno to 6
evenno[2]=6
evenno

[2, 4, 6, 8, 10]

In [17]:
# ii. change 2nd to 4th elements of oddno to (3,5,7)
oddno[1:4]=[3,5,7]
oddno

[1, 3, 5, 7, 9]

In [18]:
# iii. add both the list
evenno+oddno

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [20]:
# iv. Remove 2nd to 4th element in the list evenno
evenno.pop(1)

4

In [21]:
evenno.remove(6)

In [22]:
evenno

[2, 8, 10]

In [30]:
evenno=[2,4,7,8,10]

In [31]:
evenno[1:4]=[]
evenno

[2, 10]

In [32]:
# v. Insert the value (12,14,16) into evenno list
evenno.append([12,14,16])
evenno

[2, 10, [12, 14, 16]]

In [34]:
evenno+[12,14,16]

[2, 10, [12, 14, 16], 12, 14, 16]

In [35]:
evenno.pop(2)

[12, 14, 16]

In [36]:
evenno

[2, 10]

In [37]:
evenno=evenno+[12,14,16]

In [38]:
evenno

[2, 10, 12, 14, 16]