# Map and Filter function
## Python’s map() Function
- Python provides a function map() to transform the contents of given iterable sequence based on logic provided by us
- Its a series function
_map(iterable = (), Series)_

### How does map() function works ?
- It iterates over all the elements in given sequence. 
- While iterating the sequence it calls the given callback() function on each element and then stores the returned value in a new sequence. 
- In the end return this new sequence of transformed elements.

In [1]:
#Function for Prime nos
def is_prime(num):
        # prime numbers are greater than 1
    if num > 1:
       # check for factors
       for i in range(2,num):
           if (num % i) == 0:
               print(num,"is not a prime number")
               print(i,"times",num//i,"is",num)
               break
       else:
           print(num,"is a prime number")

    # if input number is less than
    # or equal to 1, it is not prime
    else:
       print(num,"is not a prime number")

In [3]:
print(is_prime(2))
print(is_prime(1))
print(is_prime(3))
print(is_prime(4))
print(is_prime(6))
print(is_prime(11))

2 is a prime number
None
1 is not a prime number
None
3 is a prime number
None
4 is not a prime number
2 times 2 is 4
None
6 is not a prime number
2 times 3 is 6
None
11 is a prime number
None

In [4]:
#Now apply the same function to find out prime numbers in a list
lst=[1,2,3,4,5,7,10,13,15,21,23]

In [5]:
map(is_prime,lst)

In [6]:
list(map(is_prime,lst))

1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
2 times 2 is 4
5 is a prime number
7 is a prime number
10 is not a prime number
2 times 5 is 10
13 is a prime number
15 is not a prime number
3 times 5 is 15
21 is not a prime number
3 times 7 is 21
23 is a prime number

[None, None, None, None, None, None, None, None, None, None, None]

In [11]:
# list of string
listOfStr = ['hi', 'this' , 'is', 'a', 'very', 'simple', 'string' , 'for', 'us']

In [13]:
#function to reverse string
def reverseStr(str):
   'Reverse a string'
   str = str[::-1]
   return str

In [14]:
# Reverse each string in the list
modifiedList = list(map(reverseStr, listOfStr))
print('Modified List : ', modifiedList)

Modified List :  ['ih', 'siht', 'si', 'a', 'yrev', 'elpmis', 'gnirts', 'rof', 'su']

In [15]:
# Get a list of int from a list of string
modifiedList = list(map(len, listOfStr))
print('Modified List : ', modifiedList)

Modified List :  [2, 4, 2, 1, 4, 6, 6, 3, 2]

### Use map() function with lambda function

In [16]:
# Reverse each string in the list using lambda function & map()
modifiedList = list(map(lambda x : x[::-1], listOfStr))
print('Modified List : ', modifiedList)

Modified List :  ['ih', 'siht', 'si', 'a', 'yrev', 'elpmis', 'gnirts', 'rof', 'su']

### Convert a string to other format using map() function in Python

In [17]:
sampleStr = 'this is a secret text'
# increment ascii value of each character by 1 in the string
encryptedText = ''.join(map(lambda x: chr(ord(x) + 1), sampleStr))
print('Modified Text : ', encryptedText)

Modified Text :  uijt!jt!b!tfdsfu!ufyu

### Passing multiple arguments to map() function in Python

In [18]:
list1 = ['hi', 'this', 'is', 'a', 'very', 'simple', 'string', 'for', 'us']
list2 = [11,22,33,44,55,66,77,88,99]
#Now we want to join elements from list1 to list2 and create a new list of same 
#size from these joined lists i.e. new lists should be like this,

In [19]:
# Join contents of two lists using map()
modifiedList = list(map(lambda x, y: x + '_' +  str(y), list1, list2))
print('Modified List : ', modifiedList)

Modified List :  ['hi_11', 'this_22', 'is_33', 'a_44', 'very_55', 'simple_66', 'string_77', 'for_88', 'us_99']

In [20]:
#Now let’s multiply each element in lists by 2 and get a new lists of updated values using map()
listOfNum = [11, 22, 33, 44, 55, 66, 77, 88, 99]
# Multiply each element in list by 2.
modifiedList = list(map(lambda x, y: x * y, listOfNum, [2]*len(listOfNum) ))
print('Modified List : ', modifiedList)

Modified List :  [22, 44, 66, 88, 110, 132, 154, 176, 198]

In [22]:
[2]*len(listOfNum)

[2, 2, 2, 2, 2, 2, 2, 2, 2]

### Using map() function to transform Dictionaries in Python

In [23]:
dictOfNames = {
7 : 'sam',
8: 'john',
9: 'mathew',
10: 'riti',
11 : 'aadi',
12 : 'sachin'
}

In [24]:
# add an '_' to the value field in each key value pair of dictionary
dictOfNames = dict(map(lambda x: (x[0], x[1] + '_'), dictOfNames.items() ))
print('Modified Dictionary : ')
print(dictOfNames)

Modified Dictionary :
{7: 'sam_', 8: 'john_', 9: 'mathew_', 10: 'riti_', 11: 'aadi_', 12: 'sachin_'}

### Map function to a pandas Series

In [25]:
# read the training dataset from Kaggle's Titanic competition into a DataFrame
train = pd.read_csv('http://bit.ly/kaggletrain')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [26]:
# map 'female' to 0 and 'male' to 1
train['Sex_num'] = train.Sex.map({'female':0, 'male':1})
train.loc[0:4, ['Sex', 'Sex_num']]

      Sex  Sex_num
0    male        1
1  female        0
2  female        0
3  female        0
4    male        1

## filter() function in python

Python provides a method to filter out contents from a given sequence that can be a list, string or tuple etc.

_filter(function, iterable)_

**Arguments:** 
- An iterable sequence to be filtered.
- a function that accepts an argument and returns bool i.e. True or False based on it’s logic.

**Returns:**
- A new sequence of filtered contents.

**Logic:**
- filter() iterates over all elements in the sequence and for each element it calls the given callback function. 
- If this function returns False then that element is skipped, 
- whereas elements for which it returned True are added into a new list. 
- In the end it returns a new list with filtered contents based on the function passed to it as argument.

In [27]:
# List of numbers
listofNum = [1,3,33,12,34,56,11,19,21,34,15]
# Filter list of numbers by keeping numbers from 10 to 20 in the list only
listofNum = list(filter(lambda x : x > 10 and x < 20, listofNum))
print('Filtered List : ', listofNum)

Filtered List :  [12, 11, 19, 15]

### Filter a list of strings in Python using filter()

In [28]:
# List of string
listOfStr = ['hi', 'this' , 'is', 'a', 'very', 'simple', 'string' , 'for', 'us']

'''
Check if given string's length is 2
'''
def isOfLengthFour(strObj):
    if len(strObj) == 2:
        return True
    else:
        return False

In [29]:
filteredList = list(filter(isOfLengthFour , listOfStr))
print('Filtered List : ', filteredList)

Filtered List :  ['hi', 'is', 'us']

So, filter() iterated over all the strings in given list and the called isOfLengthFour() for each string element. String elements for which isOfLengthFour() returned True were kept in a separate sequence and returned.

### Using filter() with Lambda function

In [30]:
filteredList = list(filter(lambda x : len(x) == 2 , listOfStr))
print('Filtered List : ', filteredList)

Filtered List :  ['hi', 'is', 'us']

### Filter characters from a string in Python using filter()

In [31]:
strObj = 'Hi this is a sample string, a very sample string'

filteredChars = ''.join((filter(lambda x: x not in ['a', 's'], strObj)))
print('Filtered Characters  : ', filteredChars)

Filtered Characters  :  Hi thi i  mple tring,  very mple tring

filter() basically returned a list of characters from above string by filtered all occurrences of ‘s’ & ‘a’. Then by using join() we joined the filtered list of characters to a single string.

In [32]:
array1 = [1,3,4,5,21,33,45,66,77,88,99,5,3,32,55,66,77,22,3,4,5]
array2 = [5,3,66]

In [33]:
#Now we want to filter the contents in array1 i.e. by removing numbers from array1 which are 
#common in array1 and array2. For example new array should be,
filteredArray = list(filter(lambda x : x not in array2, array1))
print('Filtered Array  : ', filteredArray)

Filtered Array  :  [1, 4, 21, 33, 45, 77, 88, 99, 32, 55, 77, 22, 4]